.page-Title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.form-container {
  width: 400px;
  margin: auto;
}

.content-container {
  padding-left: 6em !important;
  padding-right: 6em !important;
  padding-top: 1em !important;
  padding-bottom: 8em;
}

.full-container {
  opacity: 100% !important;
}

body {
  opacity: 97%;
  height: 100%;
  background: url(../src/images/sea_waves_aerial_view_145928_1920x1080.jpg);
}

h1 {
  color: rgba(245, 245, 245, 0.979) !important;
}

.ui.inverted.attached.segment {
  border-color: transparent;
}

.ui.red.button:focus,
.ui.red.buttons .button:focus {
  background-color: #db2828;
}
